.fa-trash-can {
    cursor: pointer;
    transition: transform .2s;
    color: rgb(0, 0, 0);
}

.fa-trash-can:hover {
    transform: scale(1.5);
}

.fa-pen-to-square {
    cursor: pointer;
    transition: transform .2s;
    color: rgb(0, 0, 0);
}

.fa-pen-to-square:hover {
    transform: scale(1.5);
}

.product{
    cursor: pointer;
    transition: transform .2s;
}

.product:hover{
    transform: scale(1.1);
}